<app-toolbar>
</app-toolbar>

<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side" opened="true">

    <mat-selection-list #iconList [multiple]="false"
      (selectionChange)="onSelect(iconList.selectedOptions.selected[0].value)">


      <mat-list-option #dashboardIcon value="dashboard-icon">
        <div *ngIf="dashboardIcon.selected; then dashboardSelectedBlock else dashboardBlock"></div>
        <ng-template #dashboardSelectedBlock>
          <mat-icon svgIcon="dashboard-icon-selected" aria-hidden="false"
            aria-label="Example of dashboard SVG icon selected"></mat-icon>
        </ng-template>
        <ng-template #dashboardBlock>
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> -->
          <mat-icon svgIcon="dashboard-icon" aria-hidden="false" aria-label="Example of dashboard SVG icon"></mat-icon>
        </ng-template>
      </mat-list-option>

      <mat-divider></mat-divider>

      <mat-list-option #settingIcon value="setting-icon">

        <div *ngIf="settingIcon.selected; then settingSelectedBlock else settingBlock"></div>
        <ng-template #settingSelectedBlock>
          <mat-icon svgIcon="setting-icon-selected" aria-hidden="false" aria-label="Example of setting SVG icon">
          </mat-icon>

        </ng-template>
        <ng-template #settingBlock>
          <mat-icon svgIcon="setting-icon" aria-hidden="false" aria-label="Example of setting SVG icon"></mat-icon>
        </ng-template>

      </mat-list-option>

    </mat-selection-list>

  </mat-sidenav>


  <mat-sidenav-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let b of buttons">
        <button class="uc-button" mat-raised-button color={{b.color}}
          (click)="onClickButton(b.value)">{{b.text}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>

</mat-sidenav-container>