<app-toolbar>
</app-toolbar>

<mat-sidenav-container class="example-container">

  <mat-sidenav mode="side" opened="true">


    <mat-selection-list #iconList [multiple]="false">
      <mat-list-option>
        <mat-icon svgIcon="dashboard-icon" aria-hidden="false" aria-label="Example of dashboard SVG icon"></mat-icon>
      </mat-list-option>

      <mat-list-option>
        <mat-icon svgIcon="dashboard-icon-selected" aria-hidden="false" aria-label="Example of dashboard SVG icon selected"></mat-icon>
      </mat-list-option>

      <mat-list-option>
        <mat-icon svgIcon="dashboard-icon" aria-hidden="false" aria-label="Example of dashboard SVG icon"></mat-icon>
      </mat-list-option>
    </mat-selection-list>
    <p>{{iconList.selectedOptions.selected[0]?.value}}</p>

  </mat-sidenav>
  

  <mat-sidenav-content>

    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let b of buttons">
        <button class="uc-button" mat-raised-button color={{b.color}}
          (click)="onClickButton(b.value)">{{b.text}}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>

</mat-sidenav-container>